* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    transform: translateY(-15px);
  }
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
  position: relative;
}

#sections {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Sidenav */

#mySidenav a {
  position: fixed;
  left: -100px;
  transition: 0.3s;
  padding: 15px;
  width: 120px;
  text-decoration: none;
  font-family: "Open Sans", "sans-serif";
  font-size: 16px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  left: 0px;
}

#mySidenav li .active {
  left: 0px;
  background: #fff;
  color: #000;
}

#about {
  top: 20px;
  background-color: #000;
}

#team {
  top: 80px;
  background-color: #000;
}

#products {
  top: 140px;
  background-color: #000;
}

#testimonials {
  top: 200px;
  background-color: #000;
}

#contact {
  top: 260px;
  background-color: #000;
}

/* Sidenav */

#container h1 {
  font: normal 9vw "Raleway", sans-serif;
  text-align: right;
}

.background h1 {
  font: normal 64px "Raleway", sans-serif;
  text-align: center;
}

#home h3 {
  font: normal 6vw "Roboto", sans-serif;
  text-align: right;
}

h3 {
  font: normal 3vmax "Roboto", sans-serif;
  text-align: center;
}

section {
  /* position: relative; */
  /* display: flex; */
  width: 100%;
  height: auto;
  /* min-height: 90%; */
}

/* .container {
  padding: 8%;
  position: absolute; 
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
} */

#container {
  /* padding: 24px; */
  width: 100%;
  /* top: 0;
  left: 0; */
  text-align: center;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* home page */

#home .background {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
}

#home {
  display: block;
  color: rgb(221, 221, 221);
  width: 100%;
  height: 80%;
  min-height: 80%;
}

#home #container {
  display: block;
  padding: 8%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
}

/* home page */

p {
  font-family: "Lato", sans-serif;
  font-size: 24;
  /* padding: 32px; */
}

#background1 {
  background-image: url("assets/amritanshu-sikdar-LoGnr-w1D8E-unsplash.jpg");
  filter: blur(1px) opacity(100%) brightness(40%);
}

#section1 {
  background: linear-gradient(to right, #ece9e6, #ffffff);
  color: black;
  display: -webkit-flex;
  display: flex;
}

#section1 p {
  padding: 32px;
}

#section1 .background {
  box-shadow: 4px 4px 8px 8px rgba(0, 0, 0, 0.2);
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: black;
  color: white;
  padding: 24px;
}

#section2 {
  background: linear-gradient(to right, #141e30, #243b55);
  color: white;
  display: -webkit-flex;
  display: flex;
  flex-direction: row-reverse;
  /* min-height: 60%; */
}

#section2 .background {
  box-shadow: 4px 4px 8px 8px rgba(0, 0, 0, 0.2);
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: black;
  color: white;
  padding: 24px;
}

#section2 #container {
  display: -webkit-flex;
  display: flex;
}


#section3 {
  background: black;
  display: -webkit-flex;
  display: flex;
  min-height: 60%;
}

#section3 .background {
  box-shadow: 4px 4px 8px 8px rgba(0, 0, 0, 0.2);
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: black;
  color: white;
  padding: 24px;
}

#section4 {
  background: linear-gradient(to right, #141e30, #243b55);
  /* min-height: 60%; */
  color: white;
  display: -webkit-flex;
  display: flex;
  flex-direction: row-reverse;
}

#section4 .background {
  box-shadow: 4px 4px 8px 8px rgba(0, 0, 0, 0.2);
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: black;
  color: white;
  padding: 24px;
}

#section4 #container {
  display: -webkit-flex;
  display: flex;
}



#section5 {
  background: linear-gradient(to right, #ece9e6, #ffffff);
  display: -webkit-flex;
  display: flex;
  /* min-height: 60%; */
}

#section5 .background {
  box-shadow: 4px 4px 8px 8px rgba(0, 0, 0, 0.2);
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: black;
  color: white;
  padding: 24px;
}

/* team cards */

#teammembers {
  padding: 5%;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: none;
}

.card img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: auto;
  background: white;
  color: black;
  margin: 20px;
  /* padding-bottom: 5%; */
  display: inline-block;
  transition: 0.3s;
  border-radius: 5px;
}

.card h4 {
  font-size: 32px;
  font-family: "Open Sans", sans-serif;
}

.card p {
  font-size: 16px;
  font-family: "Lato", sans-serif;
}

/* team cards */

/* carousel */

.carousel-inner {
  width: 100%;
}

.carousel-item img {
  width: 100%;
  height: 60vh;
  object-fit: fill;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
}

/* carousel */

/* testimonies */

#testimonies {
  padding: 5%;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: none;
}

.flip-card {
  background-color: transparent;
  height: 300px;
  width: 300px;
  border-radius: 5px;
  /* border: 1px solid #f1f1f1; */
  margin: 10px;
  perspective: 1000px;
}

.flip-card-front img {
  height: 300px;
  width: 300px;
  border-radius: 5px;
  object-fit: cover;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
  border-radius: 5px;
}

.flip-card-back {
  border-radius: 5px;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  transform: rotateY(180deg);
}

.flip-card-back h4 {
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
}

.flip-card-back p {
  font-size: 16px;
  font-family: "Lato", sans-serif;
}

/* testimonies */

/* contact */

#form {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
  height: 100%;
  width: 100%;
}

form {
  width: 100%;
}

form input, textarea {
  width: 70%;
  margin: 4px;
  text-align: center;
  background: rgb(36, 36, 36);
  color: white;
  padding: 10px;
  border: none;
}

form input:focus, textarea:focus {
  width: 70%;
  margin: 4px;
  text-align: center;
  background: rgb(14, 14, 14);
  color: white;
  padding: 10px;
  outline: none;
}

#details {
  display: -webkit-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 16px;
}

#map {
  height: 300px;
  width: 80%;
}


/* contact */

.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  font-size: 1.5vmax;
  font-family: "Roboto", sans-serif;
}

.footer hr {
  border: 0;
  height: 1px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

.contain {
  margin-top: auto;
  margin-bottom: auto;
  padding: 50px;
}

#content {
  margin-top: 50px;
  text-align: center;
  width: 50%;
}

section.timeline-outer {
  width: 80%;
  margin: auto auto;
}

#content h1 {
  font-family: "Roboto", sans-serif;
  font-size: 3.5vmax;
}

/**/
/*——————————————
Responsive Stuff
———————————————*/

@media (max-width: 768px) {
  section {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    /* min-height: 90%; */
  }

  #mySidenav a {
    position: fixed;
    left: -120px;
    transition: 0.3s;
    padding: 15px;
    width: 120px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    border-radius: 0 5px 5px 0;
  }

  #mySidenav a:hover {
    left: 0px;
  }

  #mySidenav li .active {
    left: -120px;
    background-color: black;
    color: white;
  }

  /* #about {
    top: 20px;
    background-color: black;
  }
  
  #team {
    top: 20px;
    background-color: black;
  }
  
  #products {
    top: 20px;
    background-color: black;
  }
  
  #testimonials {
    top: 20px;
    background-color: black;
  }
  
  #contact {
    top: 20px;
    background-color: black;
  } */

  #teammembers {
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: none;
  }

  #testimonies {
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: none;
  }

  #section1 {
    background: linear-gradient(to right, #ece9e6, #ffffff);
    color: black;
    display: flex;
    flex-direction: column;
    /* min-height: 60%; */
  }

  #section1 .background {
    box-shadow: 4px 4px 8px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-items: center;
    align-items: center;
    height: auto;
    background-color: black;
    color: white;
    padding: 24px;
  }

  #section2 {
    background: linear-gradient(to right, #141e30, #243b55);
    color: white;
    display: flex;
    flex-direction: column;
    height: auto;
  }

  #section2 .background {
    box-shadow: 4px 4px 8px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-items: center;
    align-items: center;
    /* height: 100%; */
    background-color: black;
    color: white;
    padding: 24px;
  }

  #section3 {
    background: black;
    display: flex;
    flex-direction: column;
    /* min-height: 60%; */
  }

  #section3 .background {
    box-shadow: 4px 4px 8px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-items: center;
    align-items: center;
    /* height: 100%; */
    background-color: black;
    color: white;
    padding: 24px;
  }

  #section4 {
    background: linear-gradient(to right, #141e30, #243b55);
    /* min-height: 60%; */
    color: white;
    display: flex;
    flex-direction: column;
  }

  #section4 .background {
    box-shadow: 4px 4px 8px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-items: center;
    align-items: center;
    /* height: 100%; */
    background-color: black;
    color: white;
    padding: 24px;
  }

  #section5 {
    background: linear-gradient(to right, #ece9e6, #ffffff);
    display: flex;
    flex-direction: column;
    /* min-height: 60%; */
  }

  #section5 .background {
    box-shadow: 4px 4px 8px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-items: center;
    align-items: center;
    /* height: 100%; */
    background-color: black;
    color: white;
    padding: 24px;
  }

  #section5 #container {
    display: flex;
    flex-direction: column;
  }

  .carousel-item img {
    width: 100%;
    height: auto;
    object-fit: fill;
  }
}
